/*/ configuração da fonte  - incio/*/

@font-face {
    font-family: RL;
    src: url('../fonts/RajdhaniLight.ttf');
}

@font-face {
    font-family: RR;
    src: url('../fonts/RajdhaniRegular.ttf');
}

@font-face {
    font-family: RSB;
    src: url('../fonts/RajdhaniSemiBold.ttf');
}

* {
    box-sizing: border-box;
}


H1,
p {
    font-family: RR, 'Segoe UI';
}

h1 {
    text-align: center;
}

H2,
a,
.text {
    font-family: RSB, 'Segoe UI';
}

.texto {
    font-family: RL, 'Segoe UI';
    font-size: 2vw;
    text-align: justify;
    justify-content: center;
    padding-top: 2%;
    margin-top: 0;
}


/*/ configuração da fonte  - fim/*/

/*/ configuração de todos os objetos - inicio/*/

* {
    font-family: He, 'Segoe UI';
    box-sizing: border-box;

}



#body {
    margin: 0px;
}

/*/ configuração de todos os objetos - fim/*/

/*/ configuração dos titulos e paragrafos e links - inicio/*/

/*H*/

@media screen and (max-width: 800px) {
    h1 {
        font-size: 24px;
    }



    h2 {
        font-size: 23Px;
    }

    /*P*/
    p {
        font-size: 18px;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4.1vw;
    }

    h2 {
        font-size: 5vw;
    }

    /*P*/
    p {
        font-size: 2.5vw;
    }
}

h3 {
    font-size: 4vw;
}

h4 {
    font-size: 3vw;
}

h5 {
    font-size: 2vw;
}

h6 {
    font-size: 1vw;
}






/*A*/

a {
    color: white;
    font-size: 2.7vw;
    text-decoration: none;
    transition: color, 0.5s;
}

a:hover {
    color: rgba(255, 255, 255, 0.5);
}

/*/ configuração dos titulos e paragrafos e links - fim/*/

/*/nav bar - inicio/*/

/**--------*pcs*/

@media screen and (min-width: 800px) {



    nav {
        /*flex do nav*/
        display: flex;



        /*outras configurações*/
        background-image: url(../media/outros/lala.svg);
        background-repeat: no-repeat;
        background-size: 100vw;
        width: 100%;

        position: fixed;

        background-position: center;

        z-index: 500;


        margin: 0px;

        padding-left: 5vw;
        padding-top: 5px;
        padding-bottom: 5px;
        position: fixed;

        width: 100%;


        z-index: 500;



    }



    nav .links {
        /*flex do nav*/
        flex: 01;

        /*flex dos links*/
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    #imgLinkimg{
        width: 3.6vw;
        transition: color, 0.5s;
    }



    #imgLink {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    #imgLink * {
        display: flex;
    }
    /*não exibir menu secundario*/
    .botaoMobile {
        display: none;
    }
    .tituloMobile {
        display: none;
    }
    .navegacaoMobile {
        display: none;
    }
}


/*--------*mobiles*/

@media screen and (max-width: 800px) {
    /*retirando a navegação de pc*/
    nav {
        display: none;
    }


    /*/////////*configurando a navegação mobile*/
    /*********configuração de visualização do site*/
    /*barra nav*/
    .navegSecun {
        /*flex*/
        display: flex;

        /*outras configs*/
        position: fixed;
        right: 0px;
        left: 0px;
        z-index: 200;
    }

    /*botão de exibir o menu*/
    .botaoMobile {
        /*flex*/
        flex: 1;
        /*flex proprio*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        /*outras configs*/
        background-image: url(../media/outros/lala.svg);
        background-repeat: no-repeat;
        background-size: 200%;

        border: none;


    }
    .botaoMobile img {

        /*outras configs*/
        width: 8vw;

    }


    /*links*/
    .navegacaoMobile {
        display: none;
        width: 0px;
        height: 0px;
    }

    /*configuração do X*/
    .botaoEscondedor {
        display: none;
    }

    /*******configuração de visualização da nav (tela cheia)*/
    /*barra nav(tela cheia)*/
    .navegSecun.confgTWO {
        display: flex;
        background-color: black;
        width: 100%;

    }

    /*botão de exibir o menu*/
    .botaoMobile.sumiu {
        display: none;
    }


    /*imagem do botaoMobile*/
    .botaoMenu.exibido {
        display: none;
    }

    /*links*/
    .navegacaoMobile.exibido {

        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: black;
        z-index: 100;
    }
    /*configuração dos links para a navegação suspensa*/
    .phat {
        display: flex;
        flex-direction: column;


    }
    .phat li {

        margin: 50px;

    }
    .phat a {
        font-size: 50px !important;

    }

    /*botão de fechar o menu*/
    .botaoEscondedor {
        margin-top: 40px;
        margin-left: 40px;
        width: auto;

        font-size: 4vw;

        position: fixed;
        right: 40px;

        color: white;
        background-color: transparent;
        border-color: white;
        border-style: dashed;
    }

    /*configuração do X*/
    .botaoEscondedor.exibido {
        display: block;
        font-size: 50px;

    }



    .navegacaoMobile ul li a {
        position: absolute;
        margin: 5px;
        font-size: 4px;
        left: 0px;
    }



}

/*/nav bar - fim/*/

/*/logan - inicio/*/

/*primeiraParte - inicio*/

#primeiraParte {
    /*flex*/
    display: flex;
    flex-direction: column-reverse;

    /*configuração da imagem*/
    background-image: url(../media/bg-top.svg);
    background-size: 100vw;
    background-attachment: fixed;

    /*configuração do fundo em si*/
    width: 100%;
    height: 50vw;
}


#logo {
    margin-top: 5vw;
    flex: 1;
    order: 99;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#primeiraParte #logo img {
    order: 99;
    align-content: flex-end;
    width: 40%;
    height: 50%;
    margin-bottom: 5vw;
    margin-right: 3vw;
    align-items: center;
    justify-content: flex-end;
}

/*/primeiraParte - fim/*/

#ProjetoEmpresa H1 {
    color: white;
}

#ProjetoEmpresa p {
    color: white;
}

#ProjetoEmpresa section {
    padding: 2vw;
}

#ProjetoEmpresa section {
    justify-content: center;
    align-self: center;
    align-items: center;
}

.Projeto {
    display: flex;
    background: -webkit-linear-gradient(#FFB200, #CC654B);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFB200, #CC654B);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFB200, #CC654B);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFB200, #CC654B);
    /* Standard syntax (must be last) */
}



.Empresa {
    display: flex;
    font-size: 30px;
    background-color: #CC654B;

}


#Escopo {
    display: flex;
    font-size: 30px;
    background: -webkit-linear-gradient(#CC654B, #FFB200);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CC654B, #FFB200);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CC654B, #FFB200);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CC654B, #FFB200);
    /* Standard syntax (must be last) */
}

.lateral1 {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    flex: 2;
    align-self: center;
    justify-content: center;
}

.imgtype1 {
    display: flex;
    margin: 1vw;
    flex: 2;
    align-self: center;
    justify-content: center;
}

.imgtype2 {
    display: flex;
    margin: 1vw;
    flex: 2;
    align-self: center;
    justify-content: center;
}

.lateral2 {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    flex: 2;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.imgtype1 img {
    width: 40vw;
}

.imgtype2 img {
    width: 40vw;
}


#fullGaleria {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#Funcionalidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f4f3c9;
    color: #cc654b;
    font-size: 100px;
    width: 100%;
    height: 100%;

    padding-bottom: 3%;
}

#Funcionalidades h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;

}



.galeria {
    margin-bottom: 50px;
    float: left;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}


.galeria img {
    width: 50vw;
    height: auto;
    display: block;
}

#Membros {
    background-color: #fcb259;

}

#Membros h1 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.MembrosWebDesign {
    background-color: #fcb259;
    text-align: center;
    display: flex;
    padding-top: 2%;
    padding-bottom: 3%;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 3%;
}

.MembrosWebDesign img {
    height: auto;
    width: 20vw;
    border-radius: 5vw;

}

.func {
    width: 20vw;
}

.MembrosEquipe {
    background-color: #d86c23;
    text-align: center;
}

#equipe {
    align-self: center;
    width: 40vw;
}

#BackEnd {
    background-color: #ba3e1c;
    text-align: center;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#BackEnd div {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 2%;
}


.piramide {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-around;
}

#FrontEnd {
    background-color: #e68c25;
    text-align: center;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;

}

#FrontEnd div {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 2%;
}

footer {
    background-color: #f4f3c9;
    font-size: 3.5vw;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;

}

footer img {
    width: 25vw;
    height: auto;
    padding-right: 5%;

}

footer p {
    padding-top: 1%;
}


.container {
    position: relative;
    text-align: justify;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 50vw;
    opacity: 0;
    transition: .5s ease;
    background-color: #cc654b;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 1.8vw;
    font-size-adjust: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
